.useState-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: rgb(204, 196, 196);
}
.Input {
  margin-bottom: 5px;
  padding: 8px;
  font-weight: bold;
  border-radius: 5px;
  box-sizing: border-box;
}
.useState-conatiner {
 padding: 10px;
}
.useState-conatiner-undo {
  padding: 6px;
  font-weight: bold;
  margin-left: -20px;
}
.useState-conatiner-redo {
  margin-left: 80px;
  padding: 6px;
}
.useState-conatiner-undo:hover,
.useState-conatiner-redo:hover {
   background-color: aqua;
}